
@font-face {
  font-family: 'AvenirNextCyr-Light';
  src: url('AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),  url('AvenirNextCyr-Light.otf')  format('opentype'),
	     url('AvenirNextCyr-Light.woff') format('woff'), url('AvenirNextCyr-Light.ttf')  format('truetype'), url('AvenirNextCyr-Light.svg#AvenirNextCyr-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
